:root {
    --primary-color: #bf0603;
    --secondary-color: #8d0801;
    --background-color: #558507;
    --text-color: #212529;
}

* {
    transition: all 0.3s ease-in-out;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-container input[type="email"],
.login-container input[type="text"],
.login-container select,
.login-container input[type="password"] {
    width: 100%;
    padding: .7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 1rem;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.login-container button:hover {
    background: var(--secondary-color);
}

.repo-links:link {
    color: #212529
}

a {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100vh;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header-content {
    font-weight: bold;
    color: white;
    padding: 4rem 2.5rem;
    border-radius: 30px;
    background-color: var(--secondary-color);
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 0px;
}

.header-content h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.header-content p {
    font-size: 1rem;
    margin: 0;
}

.btn {
    padding: 1rem 1.5rem;
    background: white;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem
}

.btn:hover {
    background: var(--primary-color);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 2. Contenido del Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content h2 {
    color: #4CAF50;
}

.register-link{
    margin-top: 1rem;
}