:root {
    --primary-color: #bf0603;
    --secondary-color: #8d0801;
    --background-color: #558507;
    --text-color: #292e33;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background: white;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--secondary-color);
    color: white;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

.order-card {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #ccc;
    padding: 2rem;
    width: 60%;
    background-color: #eeeeee;
}

#ordersSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}

.divisor {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px dashed #ccc;
}

.order-details {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
}

.detalle-item{
    color: #636363;
}