:root {
    --primary-color: #bf0603;
    --secondary-color: #8d0801;
    --background-color: #558507;
    --text-color: #292e33;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.banner {
    margin: -4px;
    background-color: #9b0606;
    color: white;
    text-align: center;
    padding: 1rem;
    padding: 1.5rem;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.product-name{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--text-color);
}

.product-container {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80%;

}

.product-price {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--text-color);
}

.card-btn {
    margin-top: auto;
    padding: .7rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.card-btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

#logoutButton {
    background-color: var(--secondary-color);
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid #e7e7e7;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    width: 20%;
}

footer{
    text-align: center;
    padding: 3rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1rem;
}

main {

    display: flex;
}

aside {
    height: 100vh;
}

.product-description{
    flex-grow: .5;
    margin-bottom: 10px;
    color: #606060;
    font-size: 0.9rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    color: #808080;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    max-width: 250px;
    max-height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li {
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0.5rem;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background: white;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn:hover {
    background: var(--secondary-color);
    color: white;
    transition: 0.3s;
}

.sidebar h3 {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}